p {
    font-family: BodoniSvtyTwoITCTT-Book;
    /* font-size: 28px; */
    color: #747C84;
    letter-spacing: 1px;
    text-align: left;
}

nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    border-bottom: 1px solid black;
}

#top-nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#bot-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 80%;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

section {
    display: grid;
    grid-template-rows: .1fr 1fr .1fr;
    grid-template-columns: repeat(14, 1fr);
}

article {
    display: grid;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: repeat(14, 1fr);
}

section img {
    width: 100%;
    min-height: 22vh;
    grid-area: 1 / 1 / 8 / 8;
}

section div {
    grid-area: 2 / 7 / 3 / 13;
}

#reverse img {
    width: 100%;
    grid-area: 1 / 5 / 8 / 15;
}

#reverse div {
    grid-area: 2 / 3 / 5 / 7;
}

h2 {
    font-family: BodoniSvtyTwoITCTT-Book;
    /* font-size: 200px; */
    color: #F15C6A;
    text-align: left;
}

h3 {
    font-family: BodoniSvtyTwoITCTT-Book;
    /* font-size: 90px; */
    color: #F15C6A;
    letter-spacing: 1.5px;
    text-align: left;
}

h4 {
    font-family: ShreeDev0714;
    /* font-size: 55px; */
    color: #F15C6A;
}

article h3 {
    grid-area: 1 / 3 / 2 / 9;
}

article p {
    grid-area: 2 / 3 / 3 / 13;
    column-count: 2;
}

#required-courses {
    grid-template-rows: .1fr .1fr 1fr 1fr;
    grid-template-columns: repeat(14, 1fr);
}

#required-courses h3 {
    grid-area: 1 / 3 / 2 / 14;
}

#required-courses h4 {
    grid-area: 2 / 3 / 3 / 14;
    position: relative;
    bottom: -20px;
    margin: 0;
}

.bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bot-grid {
    padding-top: 30px;
    grid-area: 3 / 3 / 5 / 13;
}

footer {
    width: 1440px;
    height: 320px;
    padding: 80px 110px 80px 110px;
    background-color: #a6b8bd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 267px;
    height: 165px;
}

.footer-right {
    flex-direction: column;
}

.icons{
    display:flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.icons img {
    padding-right: 40px;
    width: 40px;
    height: 40px;
}

.right-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}